{% extends "base.html" %}

{% block page_content %}
    <div class="container">
        <h1>MNIST - hand-write number recognition</h1>
        <div class="row">
            <div class="col-md-5">
                <canvas id="main-canvas"></canvas>
                <p>
                    <button id="clear" class="btn btn-default">clear</button>
                    <button id="savefile" class="btn btn-default">save</button>
                </p>
            </div>
            <div class="col-md-7">
                <canvas id="input"></canvas>
                <h3>Prediction: </h3>
                <table id="output" class="table">
                    <tr>
                        <th class="col-md-1"></th>
                        <th class="col-md-2">Softmax-regression</th>
                        <th class="col-md-3">Convolutional Neural Network</th>
                    </tr>
                    {% for i in range %}
                        <tr>
                            <th>{{ i }}</th>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row">
            <h3>History: </h3>
            <table id="output" class="table">
                <tr>
                    <th class="col-md-5">UUID</th>
                    <th class="col-md-2">SoftMax Prediction</th>
                    <th class="col-md-2">Convolution Prediction</th>
                    <th class="col-md-3">TimeStamp</th>
                </tr>
                {% for item in result %}
                    <tr>
                        <th>{{ item.id }}</th>
                        <th>{{ item.softmax_prediction }}</th>
                        <th>{{ item.convolution_prediction }}</th>
                        <th>{{ item.create_time }}</th>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}